@charset "utf-8";

body{
	font-family: "微软雅黑", "宋体";
}

/* 登录页面CSS */
.login{
	background-image: url(../images/login_bg.jpg);
}

.login .left_login{
	position: fixed;
	left: 13%;
	top: 44%;
}

.login .right_login{
	left: 62%;
	top: 15%;
	width: 365px;
}
.right_login .modal-header{
	background-image: url(../images/login_right_top.gif);
	height: 103px;
	padding-left: 0;
	padding-right: 0;
}
.right_login .welcome{
	background: rgba(0, 0, 0, 0.5);
	z-index: 2;
	filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#50000000',endColorstr = '#50000000')\9;
}
.right_login .modal-header p{
	color: #bdbfac;
	font-size: 15px;
	text-align: center;
	padding: 8px;
	margin-top: 76px;
}
.login_info{
	text-align: center;
	margin-bottom: 10px;
	padding-bottom: 15px;
	border-bottom: #d1d2d3 solid 1px;
}
.login_info .info_txt{
	font-size: 22px;
	font-weight: 900;
	margin-left: 5px;
	vertical-align: middle;
	letter-spacing: 3px;
}
.right_login .table td{
	border: none;
}
.right_login .input{
	background-color: #dfe0e7;
	border-radius: 10px;
	border: none;
	padding: 0;
}
.input input{
	width: 321px;
	height: 31px;
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	text-indent: 30px;
}
#email{
	background: url(../images/login_user.jpg) no-repeat 15px;
	border-bottom: #b5b7c4 solid 1px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#password{
	background: url(../images/login_pass.jpg) no-repeat 15px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.right_login .capt{
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}
#capt{
	text-align: center;
	width: 145px;
	border-radius: 0;
}
.capt img{
	vertical-align: middle;
}
.capt a{
	color: #6f9f51;
}
.capt .btn{
	width: 335px;
}

/* 登录成功主页页面样式 */
.admin_top{
	background: url(../images/back_top_bg.jpg);
	height: 132px;
}
.admin_top .top_left{
	color: #fff;
	margin-left: 75px;
	margin-top: 22px;
}
.admin_top .top_right{
	color: #bbb3bb;
	margin-top: 60px;
}
.top_right .logout{
	color: #777277;
}
.top_right .pull-right{
	margin-top: -10px;
	font-size: 15px;
}
.admin_middle{
	background: url(../images/admin_middle.jpg) repeat-x;
	height: 36px;
}
.menu{
	background: url(../images/menu_bg.jpg) repeat-x;
}
.menu .menu_con, .content{
	margin: 0 auto;
	width: 90%;
}
.menu_con .nav>li>a{
	color: #324a2f;
	font-weight: bold;
}
.content .action{
	margin-top: 20px;
	background-color: #f5f6f9;
	height: 40px;
	border-radius: 5px;
	margin-bottom: 15px;
}
.action a{margin: 5px 15px;}
.content .table{
	padding: 0 5px;
	background-color: #f5f6f9;
}
.content .table tbody>tr>td, .content .table tbody>tr>th{
	padding: 5px 0px;
	text-align: center;
	border: none;
	vertical-align: middle;
}
.content .table tbody>tr>th{border-bottom: 4px solid #fff;}
#foot{
	width: 100%;
	height: 43px;
	background: url(../images/foot_bg.jpg) repeat-x;
}
#tableContent .dropdown-menu{min-width: 50px;}
#foot p{
	color: #6f6f75;
	padding: 10px 65px;
	font-family: "宋体";
	font-size: 12px;
}
.required{color: red;font-weight: bold;padding-left: 8px;}
.error{color: red;}


.placeholder {
	border: 1px dashed #4183C4; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

.mjs-nestedSortable-error {
	background: #fbe3e4; border-color: transparent;
}

ol {
	margin: 0; padding: 0; padding-left: 30px;
}

ol.sortable,ol.sortable ol {
	margin: 0 0 0 25px; padding: 0; list-style-type: none;
}

ol.sortable {
	margin: 4em 0;
}

.sortable li {
	margin: 5px 0 0 0; padding: 0;
}

.sortable li div {
	border: 1px solid #d4d4d4; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border-color: #D4D4D4 #D4D4D4 #BCBCBC; padding: 6px; margin: 0; cursor: move; background: #f6f6f6; background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed) ); background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr = '#ffffff', endColorstr = '#ededed', GradientType = 0 );
}