ul.nav li.dropdown:hover ul.dropdown-menu{
	display: block;
}

/* 前台页面样式 */
.backbtn{
	background: url(../images/backbtn_bg.png) -13px -6px;
	padding: 8px 42px;
	font-size: 16px;
	color: #e9e8e9;
}
.top_right .qiantai{margin-top: 0;}
.print{background: url(../images/menu_bg.jpg) repeat-x;}
.print a{
	font-size: 15px;
	color: #324a2f;
	font-weight: bold;
}
.print img{margin-right: 8px;margin-top: 1px;}
.print .nav-pills{margin-bottom: 0;margin-left: 50px;}
.print .nav-pills>li>a{padding-top: 0;height: 30px;}
.print .nav-pills>li>a:hover{background: none;}
.searchbar{display: none;}
.searchbar .type{
	/*width: 1080px;*/
	width: 88%;
	background-color: #f5f6f9;
	border-radius: 5px;
	padding: 7px;
	margin-bottom: 20px;
	font-size: 15px;
}
.type input[type=radio]{margin-left: 40px;margin-top: -1px;width: 25px;}
.searchbar .btn{margin-right: 30px;}
.main{margin-bottom: 20px;}
.mapDiv { padding: 10px; width:210px;background-color: #ddd; color:#369;line-height: 22px; /* background: url('../images/hotarrow.gif') no-repeat; */ }
.red{color: red}
.hide{display: none;}
